<header>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "瑠璃の泪 / Tear of Lapislazuli", root_path, :class => "navbar-brand" %>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><%= link_to "Top", root_path%></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Character", character_path %></li>
          <li><%= link_to "Download", download_path %></li>
          <li><%= link_to "Creatodon", "https://gamelinks007.net" %></li>
          <li><%= link_to "Source", "https://github.com/S-H-GAMELINKS/Tear.Of.Lapislazuli.Web" %></li>
          <li><%= link_to "Link", link_path %></li>
        </ul>
      </div>
    </div>
  </div>
</header>